.noshow {
  display: none !important;
}  

.show {
  display: flex !important;
}

.noscroll {
  overflow-y: hidden;
}

.document_selection {
  margin: 0 0 0 var(--general-margin-standard);
  list-style-type: disc;
}