* {
  box-sizing: border-box;
}

:root {
  --text-color: rgba(60, 100, 90, 1);
  --background-color: rgba(255, 255, 255, 1);
  --highlight-blue: rgba(22, 192, 186, 0.85);
  --header-height: 120px;
  --footer-height: 100px;
  --gradient-border-height: 5px;
}

html {
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.border {
  position: relative;
  background-image: linear-gradient(rgba(3, 254, 192,0.85), rgba(60, 135, 186, 0.85));
  min-height: var(--gradient-border-height);
  max-width: 1600px;
  width: 100%;
  height: var(--gradient-border-height);
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

header, footer {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1500px;
  max-height: 200px;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 300;
  height: var(--header-height);
}

footer {
  position: static;
  height: var(--footer-height);
}

.header_content {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 1000px;
  height: calc(var(--header-height) - var(--gradient-border-height));
  width: 100%;
}

.image_container_logo {
  display: flex;
  align-items: center;
  max-height: 90%;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

header i {
  align-self: center;
  min-width: 45px;
  margin: 1rem 1rem 0.5rem 0.5rem;
  font-size: 2.25rem;
  color: var(--highlight-blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.page_title {
  font-size: 2rem;
  padding: 0 1.5rem 0 1.5rem;
}

.quote_container {
  display: flex;
  justify-content: center;
  min-height: 240px;
  max-width: 800px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--highlight-blue);
}

.quote {
  align-self: center;
  padding: 0.5rem;
}

.quote_sign_left, .quote_sign_right {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--background-color);
}

.quote_sign_left {
  justify-content: flex-start;
}

.quote_sign_right {
  justify-content: flex-end;
}

.content img {
  margin: 2rem 0 2rem 0;
}

.content_text p {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.footer_content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  height: 95%;
}

.footer_image_container_BAcC,
.footer_image_container_Accredited {
  display: flex;
  align-items: center;
  max-height: 85%;
  max-width: 50%;
}

.footer_image_container_BAcC {
  justify-content: flex-start;
  margin: 0.75rem 0.5rem 0.75rem 1rem;
}

.footer_image_container_Accredited {
  justify-content: flex-end;
  margin: 0.75rem 1rem 0.75rem 0.5rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 520px) {

  .header_content {
    justify-content: space-between;
    width: 100%;
  }

  .popout_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 150;
    left: 100%;
    width: 100%;
    height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    margin: var(--header-height) 0 0 0;
    padding: 3rem 1.5rem 3rem 1.5rem;
    font-size: 1.25rem;
    transition: left 300ms ease-in-out;
    background-color: var(--background-color);
    overflow-y: auto;

    border: 1px solid red;
  }

  .noscroll {
    overflow: hidden;
    max-height: 100vh;
  }
    
  .border_grey {
    width: 60%;
    min-height: 2px;
    background-color: lightgray;
  }

  .sticky_footer {
    position: fixed;
    bottom: 0;
    z-index: 301;
  }

}