* {
  box-sizing: border-box;
}

html {
  color: #3c645a;
  font-size: 20px;
  overflow-x: hidden;
}

.border {
  background-image: linear-gradient(rgba(3, 254, 192,0.85), rgba(60, 135, 186, 0.85));
  max-width: 1600px;
  width: 100%;
  height: 5px;
}

.border_grey {
  background-color: lightgray;
  width: 80%;
  min-height: 2px;
}

body {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  max-width: 1500px;
  max-height: 200px;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  height: 120px;
}

footer {
  position: static;
  height: 100px;
}

.header_content {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 95%;
}

.header_content, header .border {
  position: relative;
  z-index: 300;
}

.image_container_logo {
  display: flex;
  align-items: center;
  max-height: 100%;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

header i {
  align-self: center;
  font-size: 2.25rem;
  color: rgba(22, 192, 186, 0.85);
  min-width: 45px;
  margin: 1rem 1rem 0.5rem 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_title {
  font-size: 2rem;
}

.quote_container {
  display: flex;
  min-height: 240px;
  max-width: 800px;
  background-color: rgba(22, 192, 186, 0.85);
}

.quote {
  align-self: center;
  padding: 0.25rem;
}

.quote_sign_left, .quote_sign_right {
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.quote_sign_left {
  justify-content: flex-start;
  padding: 0.75rem 0.25rem 0 1rem;
}

.quote_sign_right {
  justify-content: flex-end;
  padding: 0 1rem 0.75rem 0.25rem;
}

.content img {
  margin: 2rem 0;
}

.content_text p {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.footer_content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  height: 95%;
}

.footer_image_container_BAcC,
.footer_image_container_Accredited {
  display: flex;
  align-items: center;
  max-height: 85%;
  max-width: 50%;
}

.footer_image_container_BAcC {
  justify-content: flex-start;
  margin: 0.75rem 0.5rem 0.75rem 1rem;
}

.footer_image_container_Accredited {
  justify-content: flex-end;
  margin: 0.75rem 1rem 0.75rem 0.5rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 520px) {

  .header_content {
    justify-content: space-between;
    width: 100%;
  }

  .popout_menu {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    align-items: center;
    left: 100%;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition: all 300ms ease-in-out;
  }

  .popout_menu_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    padding: 50px;
    width: 500px;
    font-size: 1.25rem;
  }

  .sticky-footer {
    position: sticky;
    bottom: 0;
    z-index: 301;
  }

}